body {
    margin: 0;
}

/*First section of the page */

.section-hero {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;

}

.Logo {
    color: #F9FAF8;
    font-size: 24px;
}

.sidebar {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.hero-content {
    display: flex;
    flex: 1;
    padding: 50px 100px;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(169, 169, 169, 0.767);
    color: #e5e7eb;
    padding: 20px;
    margin: 10px;
}

button {
    background-color: rgb(0, 119, 255);
    color: #F9FAF8;
    border-radius: 6px;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;

}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/*Second section of the page */
h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 20px 0;
    margin-bottom: 40px;

}


.box {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(70, 97, 255);
    border-radius: 8px;

}

.box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-item p {
    width: 150px;
    text-align: center;
    color: rgba(62, 63, 65, 0.952);
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Third section(quote section) of the page */
.quote-section {
    background-color: #E5E7EB;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 800px;
    width: 100%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}

.author-name {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
}

/*Fourth section of the page(CTA)*/
.CTA-container {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 8px;
    margin: 60px auto;
    max-width: 1000px;
}

.cta-text1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cta-text2 {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.589);
}

.cta-button button {
    border: 2px solid white;
}

/*Footer section of the page(CTA)*/
.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}